# Created by .ignore support plugin (hsz.mobi)

.gradle
.idea

application-oauth.properties
build/classes/
build/generated/
build/libs/
build/reports/
build/resources/main/application.properties
build/resources/main/static/
build/resources/main/templates/
build/test-results/
build/tmp/
settings.gradle
src/test/resources/
